<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product" >
        <plugin name="On_Sale_Plugin" type="Deep\US2\Plugin\OnSalePlugin"  sortOrder="10" disabled="false" />
    </type>

    <type name="Magento\Theme\Block\Html\Footer" >
        <plugin name="Copy_Right_Plugin" type="Deep\US2\Plugin\CopyRightTextPlugin"  sortOrder="10" disabled="false" />
    </type>

     <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="Bread_crumb_Plugin" type="Deep\US2\Plugin\BreadcrumbPlugin" sortOrder="10" disabled="false"/>
    </type>


</config>